<section class="text-gray-600 body-font">
  <div class="container px-5 py-4 mx-auto">
    <div class="flex flex-wrap md:flex-nowrap -mx-4 -mb-10 text-center">
      <div class="md:w-1/2 w-full mb-10 px-4">
        <a href="<%= templates_path(redirect_to: new_travel_plan_path) %>">
          <div class="rounded-lg h-64 overflow-hidden">
            <%= image_tag 'travel_yellow.png', class: "object-cover object-center h-full w-full px-6", alt: 'hero' %>
          </div>
        </a>
        <h2 class="mt-6 mb-3 text-2xl font-medium text-gray-900">
          <%= link_to 'テンプレートからつくる', templates_path(redirect_to: new_travel_plan_path), class: "title-font" %>
        </h2>
        <p class="leading-relaxed text-base">すでに準備されている荷造りのタスクから選んで自由に編集ができます</p>
      </div>
      <div class="md:w-1/2 w-full mb-10 px-4">
        <a href="<%= new_travel_plan_path %>">
          <div class="rounded-lg h-64 overflow-hidden">
            <%= image_tag 'travel_blue.png', class: "object-cover object-center h-full w-full px-4", alt: 'hero' %>
          </div>
        </a>
        <h2 class="mt-6 mb-3 text-2xl font-medium text-gray-900">
          <%= link_to 'イチからつくる', new_travel_plan_path, class: "title-font" %>
        </h2>
        <p class="leading-relaxed text-base">旅行に慣れている人向け！何をもっていけばいいかはすでに把握できているよって方はこちら</p>
      </div>
    </div>
  </div>
</section>
