<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full">
      <h1 class="text-3xl font-medium title-font mb-4 text-gray-900">いってらっしゃい！</h1>
    </div>
    <section class="text-gray-600 body-font">
      <div class="container px-5 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
          <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900"><%= @travel_plan.title %></h1>
          <p class="lg:w-2/3 mx-auto leading-relaxed text-base"><%= @travel_plan.note %></p>
       </div>
       <div class="lg:w-2/3 w-full mx-auto overflow-auto">
          <table class="table-auto w-full text-left whitespace-no-wrap ">
            <thead>
              <tr>
                <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl"><%= t('activerecord.attributes.task.title') %></th>
                <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100"><%= t('activerecord.attributes.task.body') %></th>
                <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100"><%= t('activerecord.attributes.task.baggage_type') %></th>
              </tr>
            </thead>
            <tbody>
              <% @tasks.each do |task| %>
                <tr>
                  <td class="px-4 py-3"><%= task.title %></td>
                  <td class="px-4 py-3"><%= task.body %></td>
                  <td class="px-4 py-3"><%= t("activerecord.attributes.task.baggage.#{task.baggage}") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <div class="flex justify-around mb-4 space-x-4">
      <% if @travel_plan.completed? %>
        <%= button_to 'トップページに戻る',  top_path, method: :get, class: 'px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500' %>
        <%= button_to 'テンプレートに追加する', add_to_template_path(@travel_plan), method: :post, class: 'px-4 py-2 bg-gray-300 text-gray-800 rounded hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500' %>
        <%= button_to '荷造りをやり直す', reopen_travel_plan_path(@travel_plan), method: :post, class: 'px-4 py-2 bg-gray-300 text-gray-800 rounded hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500' %>
      <% end %>
    </div>
  </div>
</section>
